<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pctol.server.mapper.RadioesMapper">

    <insert id="insert" parameterType="java.util.List">
        INSERT INTO radioes
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.question}, #{item.optionA}, #{item.optionB}, #{item.optionC}, #{item.optionD}, #{item.answer}, #{item.analyse}, #{item.createTime}, #{item.updateTime}, #{item.launcher}, #{item.auditState}, #{item.auditTime}, #{item.subjectId}, #{item.difficulty})
        </foreach>
    </insert>

    <update id="update">
        update radioes
        <set>
            <if test="updateTime!=null">
                update_time=#{updateTime}
            </if>
            <if test="auditState!=null">
                ,audit_state=#{auditState}
            </if>
            <if test="auditTime!=null">
                ,audit_time=#{auditTime}
            </if>
            <if test="subjectId!=null">
                ,subject_id=#{subjectId}
            </if>
            <if test="difficulty!=null">
                ,difficulty=#{difficulty}
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="getNumber" resultType="java.lang.Integer">
        select count(*)
        from radioes
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="question!=null">
                and question like concat('%',#{question},'%')
            </if>
            <if test="launcher!=null">
                and launcher=#{launcher}
            </if>
            <if test="auditState!=null">
                and audit_state=#{auditState}
            </if>
            <if test="subjectId!=null">
                and subject_id=#{subjectId}
            </if>
            <if test="difficulty!=null">
                and difficulty=#{difficulty}
            </if>
        </where>
    </select>

    <select id="getList" resultType="com.example.pctol.pojo.VO.TopicVO">
        select id,question
        from radioes
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="question!=null">
                and question like concat('%',#{question},'%')
            </if>
            <if test="launcher!=null">
                and launcher=#{launcher}
            </if>
            <if test="auditState!=null">
                and audit_state=#{auditState}
            </if>
            <if test="subjectId!=null">
                and subject_id=#{subjectId}
            </if>
            <if test="difficulty!=null">
                and difficulty=#{difficulty}
            </if>
        </where>
            <if test="page!=null">
                limit #{start},#{pageSize}
            </if>
    </select>

</mapper>