<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pctol.server.mapper.StudentMapper">

    <select id="getAct" parameterType="com.example.pctol.pojo.DTO.StuSearchDTO" resultType="java.lang.Integer">
        select count(*)
        from student
        <where>
            <if test="account!=null">
                account like concat('%',#{account},'%')
            </if>
            <if test="name!=null">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <select id="pageGet" parameterType="com.example.pctol.pojo.DTO.StuSearchDTO" resultType="com.example.pctol.pojo.entity.Student">
        select account,name,email
        from student
        <where>
            <if test="stuSearchDTO.account!=null">
                account like concat('%',#{stuSearchDTO.account},'%')
            </if>
            <if test="stuSearchDTO.name!=null">
                and name like concat('%',#{stuSearchDTO.name},'%')
            </if>
        </where>
        limit #{start},#{pageSize}
    </select>
</mapper>