<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pctol.server.mapper.TestMapper">

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into test(paper_id,launcher,student_id,create_time,update_time,grade)
        values (#{paperId},#{launcher},#{studentId},#{createTime},#{updateTime},#{grade})
    </insert>


    <select id="getHis" resultType="com.example.pctol.pojo.VO.TestVO">
        select title, test.id, grade, test.create_time, subject_id, total_marks, account, name
        from test
            left outer join paper on test.paper_id=paper.id
            left outer join student on test.student_id=student.stu_id
        <where>
            <if test="testId!=null">
                test.id=#{testId}
            </if>
            <if test="studentId!=null">
              and  student_id=#{studentId}
            </if>
            <if test="subjectId!=null">
              and  subject_id=#{subjectId}
            </if>
        </where>
        <if test="page!=null">
            limit #{start},#{pageSize}
        </if>
    </select>


    <select id="totalHis" resultType="java.lang.Integer">
        select count(*)
        from test
        left outer join paper on test.paper_id=paper.id
        left outer join student on test.student_id=student.stu_id
        <where>
            <if test="testId!=null">
                test.id=#{testId}
            </if>
            <if test="studentId!=null">
                and  student_id=#{studentId}
            </if>
            <if test="subjectId!=null">
                and  subject_id=#{subjectId}
            </if>
        </where>
    </select>
</mapper>